name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
        with:
          version: 7
      - run: pnpm install
      - run: pnpm -w -r --filter @spec/analyzer run gen:parser
      - run: pnpm -w -r build # build all packages
      - run: pnpm -w -r test # if you have tests
